In [4]:
example_input = """89010123
78121874
87430965
96549874
45678903
32019012
01329801
10456732"""

import pandas as pd

def parse_input_to_df(input_str):
    lines = []
    for line in input_str.split('\n'):
        lines.append(list(line))

    return pd.DataFrame(lines)

df = parse_input_to_df(example_input)
df

   0  1  2  3  4  5  6  7
0  8  9  0  1  0  1  2  3
1  7  8  1  2  1  8  7  4
2  8  7  4  3  0  9  6  5
3  9  6  5  4  9  8  7  4
4  4  5  6  7  8  9  0  3
5  3  2  0  1  9  0  1  2
6  0  1  3  2  9  8  0  1
7  1  0  4  5  6  7  3  2

In [18]:
import networkx as nx

def in_range(df, i, j):
    return i >= 0 and i < df.shape[0] and j >= 0 and j < df.shape[1]

def make_tree(df, i, j, graph):
    # check in all 4 directions
    new_positions = [
        (i-1, j),  # up
        (i+1, j),  # down
        (i, j-1),  # left
        (i, j+1)   # right
    ]
    
    for (i2, j2) in new_positions:
        if in_range(df, i2, j2) and int(df.iloc[i2, j2]) == int(df.iloc[i, j]) + 1:
            graph.add_edge((i, j), (i2, j2))
            make_tree(df, i2, j2, graph)
            
graph = nx.DiGraph()
make_tree(df, 0, 2, graph)

graph.edges()

OutEdgeView([((0, 2), (1, 2)), ((0, 2), (0, 3)), ((1, 2), (1, 3)), ((1, 3), (2, 3)), ((2, 3), (3, 3)), ((2, 3), (2, 2)), ((3, 3), (3, 2)), ((3, 2), (4, 2)), ((3, 2), (3, 1)), ((4, 2), (4, 3)), ((4, 3), (4, 4)), ((4, 4), (3, 4)), ((4, 4), (5, 4)), ((4, 4), (4, 5)), ((3, 1), (2, 1)), ((2, 1), (1, 1)), ((2, 1), (2, 0)), ((1, 1), (0, 1)), ((2, 0), (3, 0)), ((2, 2), (3, 2)), ((0, 3), (1, 3))])

In [9]:
df

   0  1  2  3  4  5  6  7
0  8  9  0  1  0  1  2  3
1  7  8  1  2  1  8  7  4
2  8  7  4  3  0  9  6  5
3  9  6  5  4  9  8  7  4
4  4  5  6  7  8  9  0  3
5  3  2  0  1  9  0  1  2
6  0  1  3  2  9  8  0  1
7  1  0  4  5  6  7  3  2

In [29]:
def part1(df):
    pos0s = []
    pos9s = []
    for i in range(df.shape[0]):
        for j in range(df.shape[1]):
            if df.iloc[i, j] == '0':
                pos0s.append((i, j))
            elif df.iloc[i, j] == '9':
                pos9s.append((i, j))

    total = 0
    for pos0 in pos0s:         
        graph = nx.DiGraph()
        make_tree(df, pos0[0], pos0[1], graph)
        count = 0
        for pos9 in pos9s:
            if graph.has_node(pos9) and nx.has_path(graph, pos0, pos9):
                count += 1
        total += count

    print(total)
    
part1(df)

36

In [30]:
a = open('day10.txt').read()[:-1]
df = parse_input_to_df(a)
part1(df)

607

In [38]:
# part 2: get the number of distinct trails from each trailhead
df = parse_input_to_df(a)

pos0s = []
pos9s = []
for i in range(df.shape[0]):
    for j in range(df.shape[1]):
        if df.iloc[i, j] == '0':
            pos0s.append((i, j))
        if df.iloc[i, j] == '9':
            pos9s.append((i, j))

total = 0
for pos0 in pos0s:         
    graph = nx.DiGraph()
    make_tree(df, pos0[0], pos0[1], graph)
    count = 0
    for pos9 in pos9s:
        if graph.has_node(pos9):
            count += len(list(nx.all_simple_paths(graph, pos0, pos9)))
    total += count

print(total)

1384