In [25]:
import pandas as pd

In [9]:
a = open('day13.txt').read().split('\n')[:-1]
a[-50:]

['735,180',
 '32,623',
 '242,110',
 '632,334',
 '753,789',
 '411,65',
 '1290,737',
 '313,438',
 '900,751',
 '333,180',
 '426,457',
 '261,677',
 '440,140',
 '714,297',
 '527,172',
 '729,546',
 '673,142',
 '457,501',
 '1168,688',
 '1124,149',
 '664,383',
 '848,799',
 '480,381',
 '159,436',
 '867,821',
 '213,243',
 '378,148',
 '947,676',
 '72,473',
 '1133,645',
 '1150,653',
 '653,840',
 '912,233',
 '769,259',
 '1133,871',
 '913,724',
 '22,334',
 '',
 'fold along x=655',
 'fold along y=447',
 'fold along x=327',
 'fold along y=223',
 'fold along x=163',
 'fold along y=111',
 'fold along x=81',
 'fold along y=55',
 'fold along x=40',
 'fold along y=27',
 'fold along y=13',
 'fold along y=6']

In [21]:
example = """
6,10
0,14
9,10
0,3
10,4
4,11
6,0
6,12
4,1
0,13
10,12
3,4
3,0
8,4
1,10
2,14
8,10
9,0

fold along y=7
fold along x=5
"""

points, folds = example.split('\n\n')
points = points.split('\n')[1:]
folds = folds.split('\n')[:-1]

10 cols, 14 rows

In [98]:
def make_df(points):
    max_x = 0
    max_y = 0
    for point in points:
        x, y = point.split(',')
        max_x = max(max_x, int(x))
        max_y = max(max_y, int(y))

    df = pd.DataFrame(index=range(max_y+1), columns=range(max_x+1)).fillna('.')
    
    for point in points:
        x, y = point.split(',')
        df.iloc[int(y), int(x)] = '#'
    return df
        
df = make_df(points)
df

   0  1  2  3  4  5  6  7  8  9  10
0   .  .  .  #  .  .  #  .  .  #  .
1   .  .  .  .  #  .  .  .  .  .  .
2   .  .  .  .  .  .  .  .  .  .  .
3   #  .  .  .  .  .  .  .  .  .  .
4   .  .  .  #  .  .  .  .  #  .  #
5   .  .  .  .  .  .  .  .  .  .  .
6   .  .  .  .  .  .  .  .  .  .  .
7   .  .  .  .  .  .  .  .  .  .  .
8   .  .  .  .  .  .  .  .  .  .  .
9   .  .  .  .  .  .  .  .  .  .  .
10  .  #  .  .  .  .  #  .  #  #  .
11  .  .  .  .  #  .  .  .  .  .  .
12  .  .  .  .  .  .  #  .  .  .  #
13  #  .  .  .  .  .  .  .  .  .  .
14  #  .  #  .  .  .  .  .  .  .  .

In [111]:
def get_bottom_half(df, index_to_fold):
    return df.iloc[index_to_fold+1:,:].copy()

def get_top_half(df, index_to_fold):
    return df.iloc[:index_to_fold,:].copy()

def flip_vertically(df):
    new_df = df.iloc[::-1]
    new_df.index = list(range(new_df.shape[0]))
    return new_df

flip_vertically(get_bottom_half(df, 7))

  0  1  2  3  4  5  6  7  8  9  10
0  #  .  #  .  .  .  .  .  .  .  .
1  #  .  .  .  .  .  .  .  .  .  .
2  .  .  .  .  .  .  #  .  .  .  #
3  .  .  .  .  #  .  .  .  .  .  .
4  .  #  .  .  .  .  #  .  #  #  .
5  .  .  .  .  .  .  .  .  .  .  .
6  .  .  .  .  .  .  .  .  .  .  .

In [112]:
get_top_half(df, 7)

  0  1  2  3  4  5  6  7  8  9  10
0  .  .  .  #  .  .  #  .  .  #  .
1  .  .  .  .  #  .  .  .  .  .  .
2  .  .  .  .  .  .  .  .  .  .  .
3  #  .  .  .  .  .  .  .  .  .  .
4  .  .  .  #  .  .  .  .  #  .  #
5  .  .  .  .  .  .  .  .  .  .  .
6  .  .  .  .  .  .  .  .  .  .  .

In [113]:
def fold_at_y(df, num):
    top_half = get_top_half(df, num).replace({'#': True, '.': False})
    bottom_half = flip_vertically(get_bottom_half(df, num)).replace({'#': True, '.': False})
    new_df = top_half | bottom_half
    return new_df.replace({True: '#', False: '.'})
    
new_df = fold_at_y(df, 7)
new_df

  0  1  2  3  4  5  6  7  8  9  10
0  #  .  #  #  .  .  #  .  .  #  .
1  #  .  .  .  #  .  .  .  .  .  .
2  .  .  .  .  .  .  #  .  .  .  #
3  #  .  .  .  #  .  .  .  .  .  .
4  .  #  .  #  .  .  #  .  #  #  #
5  .  .  .  .  .  .  .  .  .  .  .
6  .  .  .  .  .  .  .  .  .  .  .

In [114]:
new_df.iloc[:,:5]

   0  1  2  3  4
0  #  .  #  #  .
1  #  .  .  .  #
2  .  .  .  .  .
3  #  .  .  .  #
4  .  #  .  #  .
5  .  .  .  .  .
6  .  .  .  .  .

In [154]:
def get_right_half(df, index_to_fold):
    return df.iloc[:,index_to_fold+1:].copy()

def get_left_half(df, index_to_fold):
    return new_df.iloc[:,:index_to_fold].copy()

def flip_horizontally(df):
    new_df = df[df.columns[::-1]].copy()
    new_df.columns = list(range(df.shape[1]))
    return new_df

In [116]:
new_df

  0  1  2  3  4  5  6  7  8  9  10
0  #  .  #  #  .  .  #  .  .  #  .
1  #  .  .  .  #  .  .  .  .  .  .
2  .  .  .  .  .  .  #  .  .  .  #
3  #  .  .  .  #  .  .  .  .  .  .
4  .  #  .  #  .  .  #  .  #  #  #
5  .  .  .  .  .  .  .  .  .  .  .
6  .  .  .  .  .  .  .  .  .  .  .

In [130]:
def fold_at_x(df, num):
    left_half = get_left_half(df, num).replace({'#': True, '.': False})
    right_half = flip_horizontally(get_right_half(df, num)).replace({'#': True, '.': False})
    new_df = left_half | right_half
    return new_df.replace({True: '#', False: '.'})

final_df = fold_at_x(new_df, 5)
final_df

   0  1  2  3  4
0  #  #  #  #  #
1  #  .  .  .  #
2  #  .  .  .  #
3  #  .  .  .  #
4  #  #  #  #  #
5  .  .  .  .  .
6  .  .  .  .  .

In [139]:
# how many dots are visible after the first fold?
sum((new_df == '#').sum())

17

In [192]:
# real data
a = open('day13.txt').read()

points, folds = a.split('\n\n')
points = points.split('\n')
folds = folds.split('\n')[:-1]

In [194]:
folds[0]  # only consider the first fold for now

'fold along x=655'

In [195]:
df = make_df(points)
df.shape

(895, 1311)

In [196]:
def get_right_half(df, index_to_fold):
    return df.iloc[:,index_to_fold+1:].copy()

def get_left_half(df, index_to_fold):
    return df.iloc[:,:index_to_fold].copy()

def flip_horizontally(df):
    new_df = df[df.columns[::-1]].copy()
    new_df.columns = list(range(df.shape[1]))
    return new_df

def fold_at_x(df, num):
    left_half = get_left_half(df, num).replace({'#': True, '.': False})
    right_half = flip_horizontally(get_right_half(df, num)).replace({'#': True, '.': False})
    new_df = left_half | right_half
    return new_df.replace({True: '#', False: '.'})

first_fold_df = fold_at_x(df, 655)
# how many dots are visible after the first fold?
sum((first_fold_df == '#').sum())

747

In [197]:
# part 2: do all the folds

df = make_df(points)

In [204]:
for fold in folds:
    print(fold)
    which_way, num = fold[11:].split('=')
    num = int(num)
    if which_way == 'x':
        df = fold_at_x(df, num)
    else:
        df = fold_at_y(df, num)

fold along x=655
fold along y=447
fold along x=327
fold along y=223
fold along x=163
fold along y=111
fold along x=81
fold along y=55
fold along x=40
fold along y=27
fold along y=13
fold along y=6

In [207]:
# okay fine I need to print the whole thing as chars
for i, row in df.iterrows():
    print(''.join(row))
    
# ARHZPCUH

.##..###..#..#.####.###...##..#..#.#..#.
#..#.#..#.#..#....#.#..#.#..#.#..#.#..#.
#..#.#..#.####...#..#..#.#....#..#.####.
####.###..#..#..#...###..#....#..#.#..#.
#..#.#.#..#..#.#....#....#..#.#..#.#..#.
#..#.#..#.#..#.####.#.....##...##..#..#.